.change-password {
    .forgot {
        margin-top: -20px;
        text-align: right;
        color: #346aa0;
        cursor: pointer;
        &:hover {
            color: #00b454;
        }
    }
    
}

.change-password-form {
    padding-bottom: 12px;
    table {
        // border-top: 1px solid #0062cc;
        width: 100%;
        tr {
            th {
                padding-right: 50px;
                padding-top: 12px;
                font-weight: 400;
            }
            td {
                padding-top: 12px;
                width: 55%;
                white-space: pre-line;
            }
        }
    }
}