.admin-login {
    .form {
        background: #0e2f5a;
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px #0e2f5a;
    }

    h1 {
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        margin: 0 0 40px;
    }
    label {
        position: absolute;
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        left: 13px;
        color: rgba(255, 255, 255, 0.5);
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        .req {
            margin: 2px;
            color: #1ab188;
        }
    }
    label.active {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        .req {
            opacity: 0;
        }
    }
    label.highlight {
        color: #ffffff;
    }
    input {
        font-size: 22px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #ffffff;
        border-radius: 0;
        -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        &:focus {
            outline: 0;
            border-color: #1ab188;
        }
    }
    textarea {
        font-size: 22px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #ffffff;
        border-radius: 0;
        -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
        border: 2px solid #a0b3b0;
        resize: vertical;
        &:focus {
            outline: 0;
            border-color: #1ab188;
        }
    }
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
  
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #346aa0;
        color: #ffffff;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        &:hover {
            background: #00b454;
        }
        &:focus {
            background: #00b454;
        }
    }
    .button-block {
        display: block;
        width: 100%;
    }

    #confirm-password-error-message {
        color: #1ab188;
        float: right;
    }
}
