.admin-overview {
    margin: 10px;
    .ant-card {
        margin-right: 30px;
        .ant-card-body {
            text-align: center;
            font-size: 50px;
            font-weight: 500;
        }
    }
    
    .total-products {
        margin-top: 30px;
    }
}