.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #0e2f5a;
    .triangle {
        width: auto;
        height: 0;
        border-left: 50vw solid #0e2f5a;
        border-right: 50vw solid #0e2f5a;
        border-top: 80px solid #f1f5f8;
    }
    h1, h2, p{
        color: #fffcec;
    }
}
