@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap";
@import "https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap";
* {
    margin: 0;
    padding: 0;
}
.navbar-section {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    header.top-black-style {
        width: 100%;
        height: 70px;
        background-color: #efefef;
            .logo {
                width: 8%;
                margin-left: 80px;
            }
            img {
                width: 90%;
            }
            .searchbar {
                width: 36%;
                .anticon {
                    vertical-align: text-top !important;
                }
            }
            .login-logout {
                width: 12%;
                margin-right: 50px;
                display: inline-block;
                color: #333;
                font-size: 17px;
                font-weight: 400;
                margin: 20px;
                transition: 0.3s;
                cursor: pointer;
                .special {
                    a {
                        color: #333;
                        text-decoration: none;
                        &:hover {
                            color: #346aa0;
                        }
                    }
                    &:hover {
                        color: #346aa0;
                    }
                }
        }
    }
    // .login-logout {
    //     color: #fffcec;
    //     &:hover {
    //         color: #e4ebf1;
    //     }

    // }
    .menu {
        color: #fffcec;
        &:hover {
            color: #e4ebf1;
        }
    }
}
