.homepage-body{
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .trending_title {
        position: relative;
        z-index: 1;
    }
}

