.homepage-body {
    .breadcrumb {
        background-color: transparent;
    }
    .category-banner {
        h2 {
            font-weight: 400;
        }
        letter-spacing: 8px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
}
