.openMapButton {
    margin: 12px;
}
.map_init {
    height: 400px;
    position: relative;
}
#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

.google-place-autocomplete {
    .pac-card {
        display: none;
    }
    .map_init {
        .gm-style {
            .pac-card {
                display: block;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                background-color: #fff;
                margin: 10px;
            }
        }
    }
}
.map_init #infowindow-content {
    display: inline;
}

.ant-modal-body {
    padding: 0 !important;
}

.pac-container {
    z-index: 1051 !important;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 400px;
    padding: 5px;
    border: 1px solid #3490dc;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
