.my-products-page {
    .my-products-banner {
        h2 {
            font-weight: 400;
        }
        letter-spacing: 8px;
        text-align: center;
        padding: 30px 0 15px 0;
    }
    .product-detail-info {
        background-color: white;
        #tabs {
            background: #007b5e;
            color: #eee;
        }
        #tabs h6.section-title {
            color: #eee;
        }
        #tabs .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            color: #0062cc;
            background-color: transparent;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 1px solid !important;
            font-size: 16px;
            font-weight: 500;
        }
        .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            color: #0062cc;
            font-size: 16px;
            font-weight: 400;
        }
        thead {
            background: #f3f3f3;
            color: #333;
        }
        a {
            text-decoration: none;
            color: #333;
            font-weight: 600;
        }
    }
}
