.product-card {
    margin-bottom: 20px;
    margin-top: 10px;
    a:hover {
        text-decoration: none;
    }
    .product_card_content {
        position: relative;
        width: 100%;
        margin-right: 7%;
        padding-bottom: 10px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: 0px;
        background-color: #fff;
        transition: 0.2s ease-out;
        cursor: pointer;
        &:hover {
            position: relative;
            background-color: #fff;
            z-index: 3;
            box-shadow: 1px 11px 16px 2px hsla(0, 0%, 69.4%, 0.5);
            border-radius: 8px;
            transform: scale(1.01);
        }
        .bookmark {
            position: absolute;
            right: 5px;   
            top: 5px;
            padding: 0 6px 0 6px;
            border: 1px solid #3490dc;
            border-radius: 30px;
            font-size: 20px;
            color: #3490dc;
            transition: 0.2s ease-out;
            background-color: transparent;
            &:hover {
                transform: scale(1.05);
                background-color: white;
            }
        }
        
        .product_image {
            width: 100%;
            text-align: center;
            img {
                top: 0;
                left: 0;
                max-width: 100%;
                height: 240px;
                object-fit: cover;
            }
        }
        .product_preview_content {
            margin-top: 8px;
            margin-left: 16px;
            margin-right: 16px;
            .product_name {
                font-size: 16px;
                font-weight: 400;
                color: #444;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
            }
            .price-line {
                margin-top: 25px;
                .price {
                    .old_price {
                        font-size: 13px;
                        font-weight: 500;
                        color: #666;
                        margin-right: 8px;
                    }
                    .new_price {
                        color: #346aa0;
                        border: 1px solid #346aa0;
                        border-radius: 12px;
                        font-size: 16px;
                        padding: 0 12px;
                    }
                }
            }
            .product_address_and_rate {
                margin-top: 10px;
                .light_text {
                    font-size: 12px;
                    color: #333;
                    font-weight: 300;
                }
                .rate_number {
                    margin-left: 4px;
                }
                .sold_stars {
                    i {
                        color: orange;
                    }
                }
            }
        }
        &:hover {
            .product_name {
                overflow: visible;
                white-space: normal;
                height: auto;
            }
        }
    }
}
